.wrapper{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    text-align: center;
}

.view {
    width: 300px;
    height:225px;
    overflow: hidden;
    box-shadow: 0 0 1px 2px #ccc;
    margin-bottom: 10px;
}

.images{
    display: flex;
    align-items: flex-start;
    transition: all 1s;
    
}

#buttons>span{
    padding: 3px;
    border: none;
    
}
.hignLight{
    background: #ccc;
    color: red;
    box-shadow: 0 0 0 1px #bbb;
}